*{
    color: white;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

body{
    background-image: url(img/background.jpg);
}

.container {
    border: 3px solid black;
    border-radius: 10px;
    width: 60%;
    padding: 20px;
    display: none;
    margin: auto;
    background-image: url(img/background2.jpg);
}

button {
    margin-top: 10px;
    background-color: black;
}

.img {
    margin-top: 10px;
    width: 95%;
    height: 400px;
    margin-left: 20px;
    padding-bottom: 10px;
}

.next {
    margin-top: 35px;
    margin: auto
}

.niveles{
    margin-left: 355px;
    margin-top: -30px;
    
}

#jstext {
    text-align: center;
    font-size: 90px;

}

